USE [master]
GO
/****** Object:  Database [limbaje]    Script Date: 10/11/2020 7:25:40 PM ******/
CREATE DATABASE [limbaje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'limbaje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\limbaje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'limbaje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\limbaje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [limbaje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [limbaje]
GO
/****** Object:  Table [dbo].[emails]    Script Date: 10/11/2020 7:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emails](
	[email] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phones]    Script Date: 10/11/2020 7:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phones](
	[phone] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
